/* Notes */
/* Every layout designed for mobile first, then come the other devices */ 

/* Backgrounds */
/* Used usually when they allow to avoid repeating the background-color property */

.background-primary     { background-color: #DACA4C; }
.background-secondary   { background-color: #602F27; }
.background-tertiary    { background-color: #D9DAC9; }
.background-quaternary  { background-color: #CC271A; }
.background-quinary     { background-color: #81BB29; }
.background-senary      { background-color: #6D190B; }

/* Other colors */

/*  #339907 - green;
    #ffffff - white text;  

-- Not used colors --
    #22140F - dark brown;
    #BF89AB - lila;  */

/* Breakpoints for the responsive layout - according to https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
    /*  Extra small devices (phones, 600px and down)
        @media only screen and (max-width: 600px) {...} 

        Small devices (portrait tablets and large phones, 600px and up)
        @media only screen and (min-width: 600px) {...} 

        Medium devices (landscape tablets, 768px and up) -- used as the main breakpoint in this site --
        @media only screen and (min-width: 768px) {...} 

        Large devices (laptops/desktops, 992px and up)
        @media only screen and (min-width: 992px) {...} 

        Very large devices (large laptops and desktops, 1200px and up) 
        @media only screen and (min-width: 1200px) {...}

        Extra large devices (large laptops and desktops, 1350px and up) -- used only several times --
        @media only screen and (min-width: 1350px) {...} */

/* Main style for each site */

body { 
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #DACA4C;
    color: #ffffff;
}

ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { padding: 20px 50px; }

h1 { font-size: 3em; }

h2 { font-size: 2em; }

h3 { font-size: 1.8em; }

h4 { font-size: 1.5em }

h1, h2, h3, h4 {
    margin: 0;
    padding: 30px;
}
  
p {
    font-size: 1.5em;
    margin: 0;
    padding: 50px;
}

/* Button style for each site */

.btn {
    padding: 20px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-out 0.1s;
    transition: all 0.5s ease-out 0.1s;
}

.btn-nav a, .btn-article a { color: #D9DAC9; }

.btn-nav {
    min-width: 90px;
    background-color: #CC271A;
    border: 2px solid #CC271A;
    font-size: 1.1em;
    line-height: 0.5em;
}

.btn-nav:hover {
    background-color: #339907;
    border: 2px solid #339907;
}

.btn-article {
    display: inline-block;
    background-color: #339907;
    margin: 40px;
}

.btn-article:hover { background-color: #6D190B; }

.btn-submit {
    display: inline-block;
    background-color: #6D190B;
    color: #ffffff;
    margin: 40px;
}

.btn-submit:hover { background-color: #339907; }


/* Header/Navigation style for each site; designed for devices smaller than 768px */
  
#logo-nav {
    margin: auto;
    padding: 20px 80px;
}
  
#logo {
    color: #CC271A;
    padding: 20px;
}

.fa-utensils {
    font-size: 5em;
    padding: 0 20px 0 40px;
}

#logo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

header ul { padding: 20px; }

#logo-list > ul > li {
    margin: 20px auto;
    width: 50%;
}

@media only screen and (min-width: 768px) { /* For devices with min. width 768px */  
    header ul { 
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 0;
    }

    #logo-list > ul > li { 
        margin: 10px 30px;
        width: 150px;
    }
}

@media only screen and (min-width: 1350px) { /* For devices with min. width 1350px */
    #logo-nav {
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #logo h1 { float: right; } 

    #logo-list > ul > li { margin: 0 30px; }
}

/***** Sections styles *****/

/** Main/Headline area - index.html - designed for devices smaller than 768px **/  

#headline {
    clear: both;
    position: relative;
    overflow: hidden;
    padding: 60px;
}

#headline img { /* headline image in the background with opacity */
    opacity: 0.35;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#foreground-headline { position: relative; } /* relative position to erase opacity effect on the text */

#foreground-headline > p {
    line-height: 1.8em;
    font-size: 1.8em;
    margin: 0;
    padding: 30px 10px 10px 10px;
}

@media only screen and (min-width: 768px) { /* For devices with min. width 768px */

    #headline { padding: 80px; }

    #headline img { width: 120%; }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { /* For IE 10+ */
        
    #headline {
        display: inline-block; /* this option allows IE to use the brown background >#602F27< instead of yellow body's background >#DACA4C< */
        width: 100%;
        overflow: initial;
        padding: 0;
    }
    
    #background-headline {
        background-image: url(images/background.jpg);
        opacity: 0.35;
        filter: alpha(opacity=35); /* For IE8 and earlier */
    }

    #foreground-headline {
        padding: 100px;
    }

    #foreground-headline > p { padding-top: 50px; }
}

/** Article section - index.html - designed for devices smaller than 768px **/

article { 
    margin: 20px auto;
    width: 85%;
    padding-bottom: 20px;
}

.article-content { margin: 20px; }

article h2 {
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

article p { padding: 10px 20px 20px; }

@media only screen and (min-width: 768px) { /* For devices with min. width 768px */
    article { 
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: auto;
        margin: auto;
    }

    .article-content h2, .article-content p {
        font-size: 1.5em;
        margin: 10px;
    }

    article p { 
        font-size: 1.3em;
        padding: 0 20px 20px;
    }
}

@media only screen and (min-width: 992px) { /* For devices with min. width 992px */
    article { 
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: auto;
    }

    .article-content { margin: 30px; }

    article p { padding: 0 30px 20px; }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { /* For IE 10+ - flex wrapping added */
    article {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .article-content {
        max-width: 350px;
        margin: auto;
    }
}

/* Search section - search.html - designed for devices smaller than 600px */
  
#search-area { padding: 0 60px; }

#option-bar {
    min-width: 180px;
    padding-top: 20px;
}
  
#option-bar li {
    background-color: #D9DAC9;
    color: #6D190B;
    padding: 20px 0;
}

input[type=checkbox] { margin: 0 10px; }

input[type=submit] { margin: 0; }
  
#products { 
    width: 100%;
    margin: auto;
}
  
#items {
    /* Flexbox prefixes */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px 10px 50px;
}

#items [id*='item'] {
    position: relative;
    overflow: hidden;
    max-width: 280px;
    background-color: #DACA4C;
    margin: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.5s ease-out 0.1s;
    transition: all 0.5s ease-out 0.1s;
}

#items [id*='item']:hover { background-color: #81BB29; }

.img-item { 
    max-width: 9.375em; /* 150px */
    overflow: visible;
    margin: 0;
    padding: 0;
}

.img-item img {
    display: inline-block;
    opacity: 0.55;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.items-foreground { position: relative; }

.items-foreground h4 {
    font-size: 1.8em;
    padding: 30px;
}

.items-foreground p {
    font-size: 1.3em;
    padding: 10px 20px;
}

#search-result {
    font-size: 1.5em;
    padding-bottom: 40px;
}

#search-result > * {
    margin: 0;
    padding: 40px;
}

#search-result div { padding: 20px; }

@media only screen and (min-width: 600px) { /* For devices with min. width 600px */
   #option-bar ul { /* flex bar with options */
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    #products { width: 89%; } /* smaller area to avoid effect of three cards in the first row */
}

@media only screen and (min-width: 768px) { /* For devices with min. width 768px */
    #products { 
        width: 100%;
        padding: 20px 20px 30px;
    }
}

@media only screen and (min-width: 1200px) { /* For devices with min. width 1200px */
    #search-area { 
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    #option-bar ul { display: block; }

    #products { padding: 20px 10px 30px; }

    #items [id*='item'] {
        min-width: 280px;
        min-height: 310px;
    }

    .img-item {
        overflow: hidden;
        padding: 30px 20px 0px;
        max-width: 15em; /* 240px; */
    }

    .img-item img {
        position: static;
        max-height: 9.375em; /* 150px */
    }

    .items-foreground > * {
        color: #CC271A;
        margin: 0;
    }

    .items-foreground h4 {
        font-size: 1.8em;
        padding: 20px;
    }

    .items-foreground p { font-size: 1em; } 
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { /* For IE 10+ */

    #products { max-width: 90%; } /* the max-width allows to show the content without using the horizontal scrollbar */
}

/** Results section - result.html **/

/* For a while none additional responsive code */

#recipies-list { 
    /* Flexbox prefixes */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 30px 40px;
}

.recipe {
    background-color: #D9DAC9;
    max-width: 18.750em; /* 300px */
    margin: 20px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

.recipe:hover {
    opacity: 0.9;
    background-color: #ffffff;
}

.img-recipe { 
    max-height: 9.375em; /* 150px */
    padding: 30px;
}

#search-again {
    color: #ffffff;
    padding: 40px;
}

#search-again .btn-article {
    font-size: 1.5em;
    margin: 20px 0;
}
 
/** Footer style - designed for devices smaller than 768px **/

footer {
    clear: both;
    border-top: 1px solid #D9DAC9;
    font-size: 0.6em;
    text-align: center;
    color: #D9DAC9;
}

footer p {
    padding: 20px;
}

@media only screen and (min-width: 768px) /* For devices with min. width 768px */ {
    footer {
        /* Flexbox prefixes */
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 20px;
    }
}