/* Color list */

/*  #6D190B - brown;
    #339907 - green;
    #81BB29 - light green;
    #DACA4C - yellow;
    #CC271A - red;
    #D9DAC9 - light grey;
    #602F27 - headline background brown;
    white - white;
*/

/* Not used colors */

/*  #22140F - dark brown;
    #BF89AB - lila;
*/

/* Main style */

body { 
    margin: 0;
    font-family: sans-serif;
    background-color: #DACA4C;
}

ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { padding: 20px 50px; }

h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 30px;
}
  
p {
    font-size: 2em;
    margin: 0;
    padding: 0 50px;
}

/* Button style */

.btn {
    padding: 20px;
    border-radius: 5px;
    transition: all 0.5s ease-out 0.1s;
}

.btn-nav {
    min-width: 90px;
    background-color: #CC271A;
    border: 2px solid #CC271A;
    font-size: 1.1em;
    line-height: 0.5em;
}

.btn-nav:hover {
    background-color: #339907;
    border: 2px solid #339907;
}

.btn-nav a, .btn-article a { color: #D9DAC9; }

.btn-article {
    display: inline-block;
    background-color: #339907;
    color: white;
    margin: 40px;
}

.btn-article:hover { background-color: #6D190B; }

.btn-submit {
    display: inline-block;
    background-color: #6D190B;
    color: white;
    margin: 40px;
}

.btn-submit:hover { background-color: #339907; }

/* Header/Navigation style */
  
header {
    background-color: #DACA4C;
    text-align: center;
}

#logo-nav {
    margin: auto;
    padding: 20px 80px 20px 80px;
}
  
#logo {
    color: #CC271A;
    padding: 20px;
}

.fa-utensils {
    font-size: 5em;
    padding-right: 20px;
    padding-left: 40px;
}

#logo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

@media only screen and (max-width: 767.999px) { /* media query range problem; menu goes under logo, one button in the row */
    header ul { padding: 20px; }

    #logo-list > ul > li {
        margin: 20px auto;
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1364.9999px) { /* media query range problem; menu goes under logo, all buttons in one row */  
    header ul { 
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    #logo-list > ul > li { 
        margin: 10px 30px;
        width: 150px;
    }

    #logo-list > ul > li { margin: 10px 30px; }
}

@media only screen and (min-width: 1365px) { /* set for the good looking logo - logo on the left, menu on the right */
    #logo-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header ul { 
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    #logo h1 { float: right; } 

    #logo-list > ul > li { margin: 0 30px; }
}

/***** Sections styles *****/

/* Main/Headline area - index.html */  

#headline {
    clear: both;
    position: relative;
    overflow: hidden;
    background-color:#602F27;
}

#headline img { /* headline image in the background with opacity */
    opacity: 0.35;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#foreground-headline { /* relative position to erase opacity effect on the text */
    position: relative;
    text-align: center;
    color: white;
}

#foreground-headline > p {
    line-height: 1.8em;
    font-size: 1.8em;
    margin: 0;
    padding: 50px;
}

@media only screen and (max-width: 420.9999px) { /* media query range problem; set for the none image in the background */
    #headline { padding: 60px; }

    #headline img { display: none; }

    #foreground-headline > p { padding: 30px 10px 10px 10px; }
}

@media only screen and (min-width: 421px) and (max-width: 767.999px) { /* media query range problem; background image visible */ 
    #headline { padding: 40px; }
}

@media only screen and (min-width: 768px) { /* set for the better looking image in the background */
    #headline { padding: 80px; }
    
    #headline img { width: 120%; }
}

/* Article section - index.html */

article {
    text-align: center;
    margin: auto;
}

.article-content { margin: 20px; }

article h2 {
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    color: #CC271A;
}

article p {
    font-size: 1.5em;
    padding: 20px;
}

@media only screen and (max-width: 767.999px) { /* media query range problem; article content without flex, 3 rows with content visible */
    article {
        text-align: center;
        width: 85%;
        padding-bottom: 20px;
    }
    
    article p { padding: 10px 20px 20px 20px; }
}

@media only screen and (min-width: 768px) { /* flex visible content */
    article { display: flex; }

    article p { padding: 0px 30px 30px 30px; }
}

/* Search section - search.html */
  
#search-area {
    background-color: #D9DAC9; 
    padding: 0 60px;
}

#search h2 {
    background-color: #CC271A;
    color: white;
}

#option-bar {
    min-width: 180px;
    padding-top: 20px;
}
  
#option-bar li {
    background-color: #D9DAC9;
    padding: 20px 0;
    color: #6D190B;
}

input[type=checkbox] { margin: 0 10px; }

input[type=submit] { margin: 0; }
  
#products { width: 100%; }
  
#items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #D9DAC9;
}

#items [id*='item'] {
    max-width: 280px;
    background-color: #DACA4C;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 20px;
    transition: all 0.5s ease-out 0.1s;
}

#items [id*='item']:hover { background-color: #81BB29; }

#items [id*='item'] h4 {
    font-size: 1.5em;
    color: #CC271A;
    margin: 0;
    padding: 10px 20px;
}

#items [id*='item'] p {
    font-size: 1em;
    color: #CC271A;
    margin: 0;
    padding: 10px 20px;
}

.img-item { 
    height: 9.375em; /* 150px */
    width: 9.375em; /* 150px */
    overflow: hidden;
    margin: 30px 50px 15px 50px;
}

.img-item img {
    display: inline-block;
    max-height: 9.375em; /* 150px */
    margin: auto;
}

#search-result {
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: #81BB29;
    padding-bottom: 40px;
}

#search-result > * {
    margin: 0;
    padding: 40px;
}

#search-result div { padding: 20px; }

@media only screen and (max-width: 420.9999px) { /* media query range problem; a little complicated solution, images are set as background in the cards */
    #option-bar ul { text-align: center; }

    #products { margin: auto; }

    /* items, img-item and img with changes, image as background with the opacity */

    #items [id*='item'] {
        position: relative;
        overflow: hidden;
        margin: 20px;
    }

    .img-item {
        height: initial;
        width: initial;
        overflow: initial;
        margin: 0;
        padding: 0;
    }
    
    .img-item img {
        opacity: 0.55;
        position: absolute;
        max-height: initial;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    .items-foreground { position: relative; }

    #items [id*='item'] h4 {
        color: white;
        font-size: 1.8em;
        padding: 30px;
    }
    
    #items [id*='item'] p {
        color: white;
        font-size: 1.3em;
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 421px) and (max-width: 1179.9999px) { /* media query range problem; the better looking solution from the width range to 420.999px */
    #option-bar ul { /* flex bar with options */
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #products { /* smaller area to avoid effect of three cards in the first row */
        width: 89%;
        margin: auto;
    }

    /* items, img-item and img with changes, image as background with the opacity */

    #items [id*='item'] {
        position: relative;
        overflow: hidden;
        margin: 20px;
    }

    .img-item {
        height: initial;
        width: initial;
        overflow: initial;
        margin: 0;
        padding: 0;
    }
    
    .img-item img {
        opacity: 0.55;
        position: absolute;
        max-height: initial;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    .items-foreground {
        position: relative;
    }

    #items [id*='item'] h4 {
        color: white;
        font-size: 1.8em;
        padding: 30px;
    }
    
    #items [id*='item'] p {
        color: white;
        font-size: 1.3em;
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 1180px)and (max-width: 1364.9999px) { /* media query range problem; option bar with flex and different looking cards */
    #option-bar ul {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

@media only screen and (min-width: 1365px) { /* the whole search area with flex; option bar on the left, cards with items on the right */
    #search-area { display: flex; }
}

/* Results section - result.html */

/* for a while none additional responsive code */

#results { text-align: center; }

#results h2 {
    background-color: #CC271A;
    color: white;
}

#recipies { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #DACA4C;
    padding: 30px 40px 30px 40px;
}

.recipe {
    background-color: #D9DAC9;
    text-align: center;
    width: 310px;
    min-height: 300px;
    margin: 20px;
    transition: all 0.3s ease-out 0.1s;
}

.recipe:hover {
    opacity: 0.9;
    background-color: white;
}

.recipe h3 { margin: 0; }

.img-recipe { 
    max-height: 9.375em; /* 150px */
    padding: 30px;
}

#search-again { 
    text-align: center;
    background-color: #81BB29;
    font-size: 1.5em;
    color: white;
    padding-bottom: 40px;
}

#search-again > * {
    margin: 0;
    padding: 40px;
}

#search-again div { padding: 20px; }
 
/* Footer style */

footer {
    clear: both;
    border-top: 1px solid #D9DAC9;
    background-color: #6D190B;
    font-size: 0.5em;
    color: #D9DAC9;
    padding-top: 20px;
}

@media only screen and (max-width: 767.999px) { /* media query range problem; one <p> in the one row */
    footer {
        clear: both;
        border-top: 1px solid #D9DAC9;
        background-color: #6D190B;
        font-size: 0.5em;
        text-align: center;
        color: #D9DAC9;
        padding: 20px;
    }

    footer p {
        padding: 20px;
    }
}

@media (min-width: 768px) /* flex layout, 4 columns effect */ {
    footer {
        display: flex;
        justify-content: space-around;
        min-height: 140px;
        padding-bottom: 20px;
    }
}